#eleven {
	color: yellow;
}

* {
	font-family: unset;
	font-size: 20px;
}

h1 {
	font-size: 45px;
}

#royal{
	text-transform: uppercase;
}

.love {
	background-color: lightgreen;
}
li[class="dive"] {

	border-width: 2px;
	border-style: solid;
	border-color: pink;
	
}

img + ul {
	list-style-type: none;
}

section img {
	height: 100px;
	width: 100px;
	border-radius: 400px;
}

h4 ~ p {
	text-align: center;
}

body > section > ul > li {
	letter-spacing: 15px;
}
